<div style='width:100%;height:100%;float:right;border: 2px solid #c3c3c3;overflow:hidden'>
    <div style='text-align:left;margin-left:10px'>
      <button mat-icon-button (click)="redraw()">
        <mat-icon>refresh</mat-icon>
      </button>
      </div>
    <div style='height:470px;overflow:auto'>
        <ngx-charts-bar-vertical-2d
            [view]="view" 
            [scheme]="jobTypeDashboard.colorScheme" 
            [results]="jobTypeDashboard.data.multi" 
            [gradient]="jobTypeDashboard.gradient"
            [legend]="jobTypeDashboard.showLegend" 
            [xAxis]="jobTypeDashboard.showXAxis" [yAxis]="jobTypeDashboard.showYAxis" 
            [showXAxisLabel]="jobTypeDashboard.showXAxisLabel"
            [showYAxisLabel]="jobTypeDashboard.showYAxisLabel" 
            [xAxisLabel]="jobTypeDashboard.xAxisLabel" [yAxisLabel]="jobTypeDashboard.yAxisLabel"
            (select)="jobTypeDashboard.actions.charts.onSelect($event, vm)">
        </ngx-charts-bar-vertical-2d>
    </div>
</div>
