<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="width:100%">
    <div style="width:40px;display:inline-block;">
      <button mat-icon-button (click)="shipnav.toggle()">
          <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div class="app-module-title">
      Overall Maintenance Status
    </div>
  </div>
  <mat-sidenav-container class="appfilter-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="appfilter-sidenav-container-panel" #shipnav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <div class="app-container">
        <section class="app-section">
          <div class="app-container app-section-column">
            <form class="app-container" [formGroup]="shipForm">
              <div style="height: 38px;padding-top: 3px;text-align: left; margin-left:auto; margin-right:5px;">
                <button mat-raised-button matStepperDone (click)="onRefresh()">Apply</button>
              </div>
              <mat-form-field>
                <input matInput [matDatepicker]="startDateTimePicker" placeholder="From Date" formControlName="fromDate" />
                <mat-datepicker-toggle matSuffix [for]="startDateTimePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDateTimePicker></mat-datepicker>
                <mat-hint align="start">Select a date</mat-hint>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="number" min="1" max="156" placeholder="Total Weeks" formControlName="totalWeeks" />
                <mat-hint align="start">Enter how many weeks</mat-hint>
              </mat-form-field>

              <h3>Maintenance Level</h3>
              <mat-card>
                <mat-list class="app-list-item">
                  <label mat-subheader>DLM</label>

                  <mat-radio-group placeholder="DLM" formControlName="dlm" (change)="refreshChart()">
                    <mat-radio-button value="OFF">OFF</mat-radio-button>
                    <mat-radio-button value="ON">ON</mat-radio-button>
                  </mat-radio-group>
                </mat-list>
                <mat-list class="app-list-item">
                  <label mat-subheader>ILM</label>
                  <mat-radio-group placeholder="ILM" formControlName="ilm" (change)="refreshChart()">
                    <mat-radio-button value="OFF">OFF</mat-radio-button>
                    <mat-radio-button value="ON">ON</mat-radio-button>
                  </mat-radio-group>
                </mat-list>
                <mat-list class="app-list-item">
                  <label mat-subheader>OLM</label>
                  <mat-radio-group placeholder="OLM" formControlName="olm" (change)="refreshChart()">
                    <mat-radio-button value="OFF">OFF</mat-radio-button>
                    <mat-radio-button value="ON">ON</mat-radio-button>
                  </mat-radio-group>
                </mat-list>
                <mat-list class="app-list-item">
                  <label mat-subheader>Other</label>
                  <mat-radio-group placeholder="Other" formControlName="otherMaintenanceLevel" (change)="refreshChart()">
                    <mat-radio-button value="OFF">OFF</mat-radio-button>
                    <mat-radio-button value="ON">ON</mat-radio-button>
                  </mat-radio-group>
                </mat-list>
              </mat-card>
            </form>
          </div>
        </section>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-tab-group>
        <mat-tab color="primary" label="Dashboard">
          <app-maintenance-dashboard></app-maintenance-dashboard>
        </mat-tab>
        <mat-tab color="primary" label="Details">
          <app-maintenance-details></app-maintenance-details>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
